html,
body,
.root {
  height: 100%;
}

body,
.app {
  background: #3E4451;
  color: #9DA5B4;
}

/*------------------------------------*
* Main page
*-------------------------------------*/
.list-books-title {
  padding: 10px 0;
  /*background: #2e7c31;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1377dc+0,459BF2+99 */
  background: #1377dc; /* Old browsers */
  /* IE6-9 fallback on horizontal gradient */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1377dc', endColorstr='#459BF2', GradientType=1);
  /* FF3.6-15 */
  background: -moz-linear-gradient(-10deg, #1377dc 0%, #459BF2 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(-10deg, #1377dc 0%, #459BF2 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(170deg, #1377dc 0%, #459BF2 99%);
  border-bottom: 4px solid #363C46;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: #f2f2f2;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.btn-action a {
  background-color: #1478DC;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 50px;
  width: 50px;
}

.btn-action:hover a {
  background-color: #9465D8;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: 100;
  position: relative;
  text-align: left;
  text-indent: -4px;
  width: 100%;
}

.bookshelf-title::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;
  height: 12px;
  background-color: #3E4451;
  border-top: 1px solid #21252B;
  box-shadow: 0px 1px 0px #606773 inset;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  background-image: url('../icons/add.svg');
  background-size: 28px;
}


/*------------------------------------*
* Search Page
*-------------------------------------*/
.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: #fff;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  cursor: pointer;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}


/*------------------------------------*
* books grid
*-------------------------------------*/
.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  color: #f2f2f2;
  margin-top: 10px;
}

.book-authors {
  color: #969EAC;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1478DC; /* #62B630;*/
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*background-image: url('../icons/arrow-drop-down.svg');*/
  background-image: url('../icons/arrow-down-polyline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.22);
}


.book-shelf-changer select {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}


/*------------------------------------*
* book cover
*-------------------------------------*/
.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 128px;
  height: 192px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
